/*
	@name admin
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px; width: 1920px; height: 2000px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__admin {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2000px;
	background:rgba(255,255,255,1);
}


#title_box {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 132px;
	background:rgba(42,52,57,1);
}


#welcome__admin_ {
	top: 133px;
	left: 663px;
	width: 610px;
	height: 142px;
	overflow: hidden;
	font-family: Exo;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#order_id {
	top: 500px;
	left: 115px;
	width: 181px;
	height: 81px;
	overflow: hidden;
	font-family: Exo;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#customer_id {
	top: 500px;
	left: 483px;
	width: 256px;
	height: 81px;
	overflow: hidden;
	font-family: Exo;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#amount {
	top: 500px;
	left: 953px;
	width: 176px;
	height: 81px;
	overflow: hidden;
	font-family: Exo;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#date {
	top: 500px;
	left: 1344px;
	width: 111px;
	height: 81px;
	overflow: hidden;
	font-family: Exo;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#status {
	top: 500px;
	left: 1683px;
	width: 146px;
	height: 81px;
	overflow: hidden;
	font-family: Exo;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#___img__logo {
	top: 0px;
	left: 0px;
	width: 344px;
	height: 132px;
}


#rectangle_25 {
	top: 175px;
	left: 1409px;
	width: 423px;
	height: 79px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}


#image_30 {
	top: 180px;
	left: 1409px;
	width: 79px;
	height: 69px;
}


#image_31 {
	top: 215px;
	left: 76px;
	width: 202px;
	height: 215px;
}



/* Add your custom CSS here */
