/*
	@name login_noti
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 962px; height: 585px; margin-left: auto; margin-right: auto;  }

#_bg__login_noti {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 585px;
	background:rgba(29,41,81,1);
	border-radius: 50px;
}


#___img__alert {
	top: 34px;
	left: 392px;
	width: 178px;
	height: 159px;
}


#please_login_to_continue {
	top: 245px;
	left: 92px;
	width: 792px;
	height: 144px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 70px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#please_login_to_continue:before {

	content: "Please login to continue";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FFFFFF;
}

#___img__btn {
	top: 406px;
	left: 251px;
	width: 459px;
	height: 112px;
}

#rectangle_15 {
	top: 0px;
	left: 0px;
	width: 459px;
	height: 112px;
}


#log_in {
	top: 15px;
	left: 134px;
	width: 206px;
	height: 124px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#log_in:before {

	content: "Log in";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#___img__cross {
	top: 34px;
	left: 778px;
	width: 167px;
	height: 105px;
}



/* Add your custom CSS here */
