/*
	@name verify
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 962px; height: 585px; margin-left: auto; margin-right: auto;  }

#_bg__verify {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 585px;
	background:rgba(29,41,81,1);
	border-radius: 50px;
}


#please_wait_for_verifying {
	top: 426px;
	left: 100px;
	width: 932px;
	height: 145px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 70px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#please_wait_for_verifying:before {

	content: "Please wait for verifying";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FFFFFF;
}


#___img__cross {
	top: 34px;
	left: 778px;
	width: 167px;
	height: 105px;
}


#rev_1 {
	top: 58px;
	left: 290px;
	width: 382px;
	height: 327px;
	border-radius: 50px;
}



/* Add your custom CSS here */
